.idea
.ipynb_checkpoints
.spyproject
.project
.pydevproject

**/__pycache__/* 

*.pyc
*.log
*.prefs
*.pkl
*.ipynb
*.bat

log/*
temp/* 
exports/*
plugins/*/
!plugins/blueprint

system/settings.pkl

users/* 
!users/default

main.exe
main.spec
dist/*
build/*
wheels/*